body {
  font-family: CabritoSans-NorMed;
  color: white;
  background-color: #22BBF6;
}

html, body {
  overflow-x: hidden;
  overflow-y: visible;
}

hr {
  border-color: #22ABE0;
}

h1 {
  font-size: 23px;
}

h3 {
  font-size: 16px;
  color: white;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  color: #42F9FF;
}

h1.logo-subhead {
  color: #42F9FF;
  margin-bottom: 60px;
  margin-top: 40px;
}

p.logo-subhead {
  color: #676594;
  margin-top: 47px;
  margin-bottom: 50px;
}

a.download img {
  -webkit-transition: all .5s ease-out;
     -moz-transition: all .5s ease-out;
      -ms-transition: all .5s ease-out;
       -o-transition: all .5s ease-out;
          transition: all .5s ease-out;
  border-radius: 5px;
  height: 40px;
  width: 135px;
}

/*a.download img:hover {
  box-shadow: 0px 2px 33px #03021A;
}*/

.faq a.download img {
  margin-top: 2em;
}

p.info {
  font-size: 12px;
  text-align: right;
}

.faq a.download img:hover {
  box-shadow: 0px 2px 33px #413D98;
}

.header-copy {
  margin-top: 120px;
}

.haid-logo {
  background-image: url("/images/logo_type.jpg");
  background-size: 100% 100%;
  width: 192px;
  height: 204px;
  background-repeat: no-repeat;
}

.haid-phone {
  background-image: url("/images/phone.jpg");
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 384px;
  width: 692px;
  position: absolute !important;
  right: -8px;
  top: 100px;
}

.images {
  background-size: 100% 100%;
  position: relative;
  background-repeat: no-repeat;
}

.coming-soon {
  color: #316E85;
  line-height: 58px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.mobile.haid-phone {
  display: none;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  .haid-logo {
    background-image: url("/images/logo_type@2x.jpg");
  }
  .haid-phone {
    background-image: url("/images/phone@2x.jpg");
  }
}

@media (max-width: 992px) {
  .haid-phone {
    margin-bottom: 50px;
    /*background-position: 210px, 0px;*/
    top: 50px;
    right: -210px;
  }
  .header-copy {
    margin-top: 80px;
  }
  .how p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .how {
    padding: 0px 31px;
  }
  .faq:last-child {
    float: right;
  }
}

@media (max-width: 750px) {
  .header-copy {
    margin-bottom: 0px;
    padding-left:0px;
    padding-right: 0px;
    margin-top: 60px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .how {
    margin: 20px 0px 50px 0px;
  }

  .how:first-child {
    margin: 20px 0px 50px 0px;
  }

  .how:last-child {
    margin: 20px 0px 100px 0px;
  }

  .haid-phone {
    display: none;
  }

  .mobile.haid-phone {
    display: block;
    position: relative !important;
    right: 0;
  }

  .how p {
    font-size: 16px;
  }

  .hey-guys {
    margin: 0 auto;
    margin-top: 20px;
  }

  .footer {
    padding-top: 0px;
  }

  .footer p {
    text-align: center;
  }

  .footer a {
    display: block;
    padding-bottom: 14px;
    margin-right: 0px;
  }

  .haid-phones {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .faq {
    margin-bottom: 60px;
  }

  .faq:last-child {
    text-align: center;
    margin-bottom: 0px;
  }

  .footer a:hover {
    border: none;
  }
}


